<div id="header">
  <h1><a href='/'>S I L L Y S T R I N G Z</a></h1>
  <p>est. 1904</p>
  <h3>@Html.ActionLink("machines", "Index", "Machines") | 
  @Html.ActionLink("engineers", "Index", "Engineers")</h3>
</div>