@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new engineer</h4>
<br>
@using (Html.BeginForm())
{
  <p>
  Name: @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder="Required", required="required", style="width: 300px;"})
  <br>
  Machine: <div class="custom-select" style="width200px;"><select>@Html.DropDownList("MachineId")</select></div>
  </p>
  <input type="submit" value="Add" class="btn"/>
}
<br>
<br>
<p>@Html.ActionLink("⚙️ Back to engineers", "Index")</p>