@{
  Layout = "_Layout";
}

<h2>Welcome, Dr. Sillystringz!</h2>
<p>@Html.ActionLink("⚙️ Add a silly machine", "AddMachine", "Machines")</p> <p>@Html.ActionLink("⚙️ Add a silly engineer", "AddEngineer", "Engineers")</p>